html, body {
    height: 100%;
    margin: 0;
   	padding: 0;
}

.wrapper{
	width: 90%;
	height: 85%;
	margin: 2rem auto 0 auto;
	letter-spacing: -.25rem;
}

.wrapper > *{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 50%;
	letter-spacing: normal;
}

.wrapper .control-panel .control-panel-content{
	width: 100%; height: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
}


.wrapper .control-panel .control-panel-content .controls{
	padding: 1rem .5rem;
}

.wrapper .control-panel .control-panel-content .controls > *{
	display: inline-block;
	vertical-align: middle;
	margin:0 1rem;
}

.wrapper .control-panel .control-panel-content .controls > a[data-control]{
	font-size: 3rem;
	color: #DAA520;
	-webkit-transition:all .5s;
	trasition:all .5s;
}

.wrapper .control-panel .control-panel-content .controls > a[data-control='right']:active{
	-webkit-transform:translateX(6px);
	transform:translateX(6px);
}

.wrapper .control-panel .control-panel-content .controls > a[data-control='left']:active{
	-webkit-transform:translateX(-6px);
	transform:translateX(-6px);
}

.wrapper .control-panel .control-panel-content .controls > a[data-control='up']:active{
	-webkit-transform:translateY(-6px);
	transform:translateY(-6px);
}

.wrapper .control-panel .control-panel-content .controls > a[data-control='down']:active{
	-webkit-transform:translateY(6px);
	transform:translateY(6px);
}
      