html, body {
    height: 100%;
    margin: 0;
   	padding: 0;
}

.hide{
	display: none;
}

.wrapper{
	width: 90%;
	height: 85%;
	margin: 2rem auto 0 auto;
	letter-spacing: -.25rem;
}

.wrapper > *{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 50%;
	letter-spacing: normal;
}

.wrapper .control-panel .control-panel-content{
	width: 100%; height: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.controls  > *{
	display: inline-block;
	vertical-align: middle;
	margin:0 1rem;
}

/*Directions Controls*/
.controls .direction-controls{
	padding: 1rem .5rem;
}

.controls .direction-controls .main{
	position: relative;
	width: 120px;height: 120px;
	margin-bottom:2rem;
}

.controls .direction-controls .others{
	width: 150px;
}

.controls .direction-controls .others > a[data-control]:not(:first-child){
	margin-left: 1rem;
}

.controls .direction-controls a[data-control]{
	font-size: 2rem;
	color: #DAA520;
	outline: none;
	text-decoration: none;
	-webkit-transition:all .5s;
	trasition:all .5s;
}

.controls .direction-controls .main a[data-control]{
	position: absolute;
}

.controls .direction-controls .main a[data-control='right']{
	top: 50%; right: 0;
	-webkit-transform:translate(0,-50%);
	transform:translate(0,-50%);
}

.controls .direction-controls .main a[data-control='right']:active{
	-webkit-transform:translate(6px,-50%);
	transform:translate(6px,-50%);
}

.controls .direction-controls .main a[data-control='left']{
	top: 50%; left: 0;
	-webkit-transform:translate(0,-50%);
	transform:translate(0,-50%);
}

.controls .direction-controls .main a[data-control='left']:active{
	-webkit-transform:translate(-6px,-50%);
	transform:translate(-6px,-50%);
}

.controls .direction-controls .main a[data-control='up']{
	top: 0; left: 50%;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
}

.controls .direction-controls .main a[data-control='up']:active{
	-webkit-transform:translate(-50%,-6px);
	transform:translate(-50%,-6px);
}

.controls .direction-controls .main a[data-control='down']{
	bottom: 0; left: 50%;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
}

.controls .direction-controls .main a[data-control='down']:active{
	-webkit-transform:translate(-50%,6px);
	transform:translate(-50%,6px);
}

.controls .direction-controls .main a[data-control='home']{
	top: 50%; left: 50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}

.controls .direction-controls .main a[data-control='home']:active{
	-webkit-transform:translate(-50%,-50%) scale(1.2);
	transform:translate(-50%,-50%)  scale(1.2);
}

/* Presets */

.controls .presets{
	margin-bottom: 2rem;
	position: relative;
}

.controls .presets > * {
	display: inline-block;
	vertical-align: middle;
}

.controls .presets .preset_text,
.controls .presets .btn{
	padding: 0.4rem 1rem;
	
}

.controls .presets .preset_text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  font-style: italic;
}
.controls .presets .preset_text::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  font-style: italic;
}
.controls .presets .preset_text:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  font-style: italic;
}
.controls .presets .preset_text:-moz-placeholder { /* Firefox 18- */
  color: #000;
  font-style: italic;
}

.controls .presets .btn{
	border:none;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	background-color: #DAA520;
	color: #fff;
	border-radius: 2px;
	-webkit-trasition:all .5s;
	transition: all .5s;
	cursor: pointer;
}


.controls .presets .btn .fa{
	vertical-align: middle;
	margin-left: .5rem;
}

.controls .presets .btn:hover,
.controls .presets .btn.active {
	background-color: #C5951C;
}

.controls .presets .go_presets{
	position: absolute;
	top: 100%; right: 0;
	width: 50%;
	height: 200px;
	opacity: 0;
	background-color: #fff;
	border-radius: 3px;
	list-style: none;
	list-style-position: outside;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	margin: 1rem 0;
}

.controls .presets .go_presets .preset:not(:last-child){
	margin-bottom: 1rem;
}

.controls .presets .go_presets .preset a{
	padding: .3rem .4rem;
	border-radius: 2px;
	-webkit-trasition: all .5s;
	transition: all .5s;
}

.controls .presets .go_presets .preset .fa{
	color: #fff;
}

.controls .presets .go_presets .preset .go{
	background-color: #C5951C;
}

.controls .presets .go_presets .preset .go:hover{
	background-color: #AA8528;
}

.controls .presets .go_presets .preset .delete{
	background-color: #DA202D;
}

.controls .presets .go_presets .preset .delete:hover{
	background-color: #A7242E;
}

.controls .presets .go_presets.collapsible{
	opacity: 1;
}


/*
	Popup
	=====
*/

.popup{
	font-size: 1.2rem;
	text-align: center;
}
.popup .popup-header{
	color: #DAA520;
}
.popup .popup-body figure{
	margin: 0;
}
      